@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');


.loader{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100vh;
}
.loader-img{
width: 3rem;
}


.hellothere{
    display: flex;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 70px;
}
.openletter2{
    display: flex;
    align-items: center;
    font-family: 'Reem Kufi', sans-serif;
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
    border-radius: 10px;
    color: whitesmoke;
    width: fit-content;
    text-align: center;
    font-size: 4rem;
    transform: translateY(.4rem);
    margin-right: .3rem;
}
.openletter3{
    transform: translateY(.4rem);
  }