
@media only screen and (max-width: 400px) {
    .navi{
        flex-direction: row !important;
 background: black;
 top: 0 !important;
 height: 10vh !important;
 width: 100vw !important;
justify-content: space-evenly;
align-items: center !important;
background: linear-gradient(to right, #f1eed6, #d3ebd8);


    }

}
.navi{
    position: absolute;
    position: fixed;
    display: flex;
    top: 9rem;
    right: 0rem;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    height: 20vh;
    width: 8%;
    padding-right: 1rem;
    margin-right: 0rem;
    /* border-right: .7px solid gray; */
    /* background: gray; */
}

.navi .navilink{
    padding-top: .4rem ;
    padding-bottom: .4rem;
}
.navilink:hover{
    cursor: pointer;
}

.navilink-icon{
    color: gray;
    text-decoration: none;
}
.navilink-icon:hover{
cursor: pointer;}


.navi-openletter2{
    display: flex;
    align-items: center;
    font-family: 'Reem Kufi', sans-serif;
    background: linear-gradient(to right, #8a238786, #e940578a, #f27121a9);
    border-radius: 10px;
    color: whitesmoke;
    width: fit-content;
    text-align: center;
    font-size: .9rem;
    transform: translateX(.4rem);
}
.navi-openletter3{
    transform: translateY(.1rem);
  }