


html{
  background: linear-gradient(to right, #f1eed6, #d3ebd8);
}



html, body {
  /* overflow-x: hidden ; */
  
}
body {  
    /* background: linear-gradient(to right, #f1eed6, #d3ebd8); */
/* scroll-behavior: smooth; */
  /* position: relative !important; */
}
/* .portfolio{
  margin: 0px !important;
  padding: 0px !important;
} */


body::-webkit-scrollbar{
  background: linear-gradient(to right, #d3ebd8, #d3ebd8);
  width: .8%;
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg, #817f81, #fc4a85);
  height: 2rem;

}
body::-webkit-scrollbar-track{
  background-color: rgba(14, 12, 12, 0);
}
