


html{
  background: black;

}

html, body {
  overflow-x: hidden !important; 
}
body {
  position: relative !important
}
.portfolio{
  margin: 0px !important;
  padding: 0px !important;
  background: linear-gradient(to right, #f1eed6, #d3ebd8);
}